<div class="container mt-5" style="max-width: 400px;">
  <div class="card p-4 shadow-sm" *ngIf="!sesion_iniciada">
    <h2 class="text-center">Iniciar Sesión</h2>
    <p class="text-muted text-center">Ingresa tus datos para acceder al sistema</p>

    <!-- Envía el formulario y ejecuta el método de validación -->
    <form (ngSubmit)="login()">
      
      <div class="mb-3">
        <label for="usuario" class="form-label">Nombre de Usuario</label>
        <!-- Enlaza el texto ingresado con la variable usuario -->
        <input 
          type="text" 
          id="usuario" 
          name="usuario" 
          [(ngModel)]="usuario" 
          class="form-control" 
          required
          maxlength="15"
        >
      </div>

      <div class="mb-3">
        <label for="contrasena" class="form-label">Contraseña</label>
        <!-- Enlaza el texto ingresado con la variable contrasena -->
        <input 
          type="password" 
          id="contrasena" 
          name="contrasena" 
          [(ngModel)]="contrasena" 
          class="form-control" 
          required
          maxlength="16"
        >
      </div>

      <!-- Activa el envío del formulario al hacer clic -->
      <button type="submit" class="btn btn-primary w-100 mt-3">
        Ingresar al Sistema
      </button>

      <!-- Muestra el mensaje en texto rojo si la variable contiene un error -->
      <div *ngIf="errorMessage" class="text-danger mt-3 text-center">
        {{ errorMessage }}
      </div>
    </form>
  </div>
  
  <div class="card p-4 shadow-sm" *ngIf="sesion_iniciada">
    <h2>Haz iniciado sesión como: {{sesion_iniciada}}</h2>
  </div>
</div>